.ads{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 16px 0;
}
/* .adsSection{
    display: flex;
    justify-content: space-between;
}
.adsSection > .left > h4 {
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.adsSection > .left > h1{
    font-size: 59px;
    font-weight: 700;
    line-height: 89px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}
.adsSection > .left > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    width: 610px;
    height: 69px;
    top: 330px;
    
} */